<div fxLayout="column" fxFlexAlign="center" class="mv-navbar-container">

  <div fxFlex="55" class="mv-navbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mv-navbar-content">
      <div class="logo">
        <img alt="Logo da empresa" src="../assets/image/logo.svg">
      </div>

      <div class="mv-navbar-actions" fxLayout="row">
        <mat-icon class="mv-bel">notifications</mat-icon>
        <mat-icon class="mv-bel">account_circle</mat-icon>
      </div>
    </div>
  </div>

  <div fxFlex="45" class="mv-subnavbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mv-subnavbar-content">
      <div class="mv-bemvindos">
        <p>Olá, você está no ambiente - Produção</p>
      </div>

      <div class="mv-subnavbar-actions">
        <button class="mv-button mv-button-default">Setup Atual</button>
        <button class="mv-button mv-button-default">Servidores</button>
      </div>
    </div>
  </div>
</div>

<div class="mv-content" fxLayout="column" fxFlexAlign="space-around center">
  <router-outlet></router-outlet>
</div>



