<div class="mv-content" fxLayout="column" fxFlexAlign="space-around center">
  <div class="select-ambiente" fxLayout="column">
    <p>Selecionar Ambiente</p>

    <div fxLayout="row">
      <button class="mv-button mv-button-ambiente">Produção</button>
      <button class="mv-button mv-button-ambiente-default">Simulação</button>
      <button class="mv-button mv-button-ambiente-default">Treinamento</button>
      <button class="mv-button mv-button-ambiente-default">Custom 01</button>
      <button class="mv-button mv-button-ambiente-default">Custom 02</button>
    </div>
  </div>

  <div class="content-aplicativos" fxLayout="row">
    <div fxLayout="column" fxFlex="70">
      <div fxLayout="row">
        <mat-icon class="mv-bel">cloud_download</mat-icon>
        <span class="title-icon-download">Downloads</span>
      </div>

      <div class="itens-downloads-container">
        <mv-ambiente-table-item *ngFor="let itemDownload of itensDownloads"
                                (onClick)="clickItemDownload(itemDownload)"
                                [nome]="itemDownload.nome"
                                [status]="itemDownload.status">
        </mv-ambiente-table-item>
      </div>
    </div>

    <div class="info-empresa" fxFlex="30">
      <mv-ambiente-informacao-empresa-cliente
        (onClickAlteracaoSenha)="clickInformacaoEmpresaClienteAlteracaoSenha()"
        (onClickAtividades)="clickInformacaoEmpresaClienteAtividades()"
        (onClickConfigurarAmbiente)="clickInformacaoEmpresaClienteConfigurarAmbiente()"
        [informacaoEmpresClienteConfig]="informacaoEmpresaClienteConfig"
      ></mv-ambiente-informacao-empresa-cliente>
    </div>
  </div>

  <div class="content-instalacao" fxLayout="column" fxFlexAlign="space-around center">
    <div fxLayout="row">
      <mat-icon class="mv-bel">local_mall</mat-icon>
      <span class="title-icon-download">Instalação</span>
    </div>

    <div fxLayout="row">
      <mv-ambiente-card-instalacao></mv-ambiente-card-instalacao>
      <mv-ambiente-card-instalacao></mv-ambiente-card-instalacao>
      <mv-ambiente-card-instalacao></mv-ambiente-card-instalacao>
    </div>
  </div>
</div>
